body {
    background-image: url(./img/Карта\ світу2.jpeg);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    overflow-y: hidden; 

}

.card {
    top: 66%;
    left: 12%;
    position: absolute;
    padding: 10px;
    width: 220px;
    background-color: rgb(229, 244, 206, 0.7);
    border-radius: 10%;
    box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
    animation: fadeIn 3s ease;
}

@keyframes fadeIn  {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card-city {
    margin: 10px 0px;
}

.card-weather {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-value {
    display: inline-block;
}

.card-img {
    height: 80px;
    width: 80px;
}

h3 {
    margin: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* Input поле */

.input_container {
    position: absolute;
    top: 0.1%;
    left: 79%;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-family: 700;
    font-size: 22px;
    text-align: left;
    color: blanchedalmond;
}

.btn_input {
    background-color: palegoldenrod;
    transition: 1s;
}

.btn_input:hover {
    background-color: rgb(219, 208, 85);
}


/* Styles for container cities */
.cities {
    display: flex;
    position: relative;
    overflow: visible;
    width: 85%;
    height: 85%;
}

.city {
    position: absolute;
    cursor: pointer;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 1s;
}

.city:hover {
    opacity: 1;
}

.word {
    color: white;
    position: absolute;
    cursor: pointer;
    text-align: right;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.btn {
    position: absolute;
    cursor: pointer;
    width: 0.1cm;
    height: 0.3cm;
    border-radius: 50%; /* Заокруглений круг */
    background-color: red; /* Червоний колір */
    border: none; /* Відсутність меж */ /* Анімація плавного змінення прозорості протягом 0.5 секунди */
}

.cyber_logo {
position: absolute;
margin-top: -6%;
margin-left: 0.5%;
border-radius: 30%;
width: 50px;
height: 50px;
transition: all 1s ease;
cursor: pointer;
}

.cyber_logo:hover {
    transform: scale(1.1) translate(10%, -10%);
}



.cyber_text {
    color: #ff0000;
    -webkit-text-stroke-width: 0.5px; /* Ширина контуру */
    -webkit-text-stroke-color: black; /* Колір контуру */
    font-size: large ;
    display: block;
    position: absolute;
    margin-top: -4%;
    margin-left: 4%;
    transition: all 1s ease;
    cursor: pointer;
}

.cyber_text:hover {
    transform: scale(1.1) translate(10%, -10%);
  }