#toronto {
    left: 25%;
    top: 37%;
}

#rome {
    left: 51.5%;
    top: 38%;
}

#kyiv {
    left: 56.5%;
    top: 30%;
}

#canberra {
    left: 89.5%;
    top: 91%;
}

#brasilia {
    left: 34.3%;
    top: 78%;
}

#warsaw {
    left: 53.7%;
    top: 29%;
}

#mexico-city {
    left: 19.7%;
    top: 54%;
}

#london {
    left: 47.4%;
    top: 29.5%;
}

#washington {
    left: 25%;
    top: 42%;
}

#nuuk {
    left: 32.7%;
    top: 18%;
}

#madrid {
    left: 46.5%;
    top: 39%;
}

#berlin {
    left: 51.3%;
    top: 28.8%;
}

#tokyo {
    left: 87%;
    top: 42.8%;
}

#dublin {
    left: 45.7%;
    top: 27%;
}

#cairo {
    left: 56.3%;
    top: 46.4%;
}

#antananarivo {
    left: 61%;
    top: 79.4%;
}

#montevideo {
    left: 32%;
    top: 89.6%;
}